p {
    font-size: 40px;
    border:0x solid black ;
    background-color:red ;
    color: white;
    box-shadow: 10px 10px black;
}




.odd {
    background-color:#eef7ff ;

}
.tableb {
    border: 1 solid #c4dcf3;
}
.header {
    background-color: #427fef;
    font: white;
}