.home-container {
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.home-container h2 {display: flex; flex-direction:column ; align-items: center; justify-content: center;}

.it-watches {
    position: fixed;
    top: 0;
    color: rgb(1, 1, 1);
    z-index: -1;
}

.ad-2 {
    width: 300px;
    position: absolute;
    right: 0;
}
.ad-3 {
    width:300px; 
    background-color: white;
    position: absolute;
    left: 0px;
}
