* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}
a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    height: 200vh;
    display: flex;
    background-color: #F1E7DA;
}


.button {
    width:150px ;
    height: 50px;
    box-shadow: -7px 3px #76251E; 
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Below is nav bar and a little bit more */
.bar {
    background-color: #DB4439;
    display: flex;
    position: relative;
    height:100px ;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100vw;
}


.logo1 {
    width: 100px;
    position: absolute;
    left: 10px;
}

.bar-buttons {
    color: #F1E7DA;
    display: flex;
    gap: 20px;
}

.bar-buttons a {
    color: #F1E7DA;
    letter-spacing: 2px;
}

.shopb1 {
    color:#DB4439;
    background-color:#F1E7DA ;
    position: absolute;
    right: 35px;
}
/* Below is Section/image 1  section thats not nav bar */

.no-margin {
    margin:  0;
    line-height: 0.95;
}

.love-sauce {
    background-color:  #DB4439;
    height:700px ;
    /* border: 1px solid black; */
    width: 100vw;
    position: relative;
    top: 100px;
    color: #F1E7DA;
    letter-spacing: 5px;
    display: flex;
}

.kansas {
    display: flex ;
    flex-direction: column;
    font-size: 115px;
}

.kansas-container {
    width: 45vw;
}

.something {
    font-size: 25px;
}
.restaurant {
    font-family: 'Anton', sans-serif;
}

.love-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    position: relative;
}

.love-right {
  position: relative;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sauce-right {
    width: 570px;
    position: absolute;
}

/* Section 3 Code Below */

.section-3{
    display: flex;
    justify-content: center;
    position: relative ;
    top: 100px;
}

.sweet {
    width:700px;
    display: flex;
    justify-content: center;
}

.magic-bbq {
    background-color:#F1E7DA ;
    width: 700px;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.magic-text {
    bottom: 0;
    color: black;
    font-size: 100px;
    color: #DB4439;
}

.jones-family {
    font-size: 20px;
    padding-right: 50px;
}

/* section 4 Code Below */
.section-4 {
    background-color: #ffff;
    width: 100vw;
    position:relative ;
    top: 84px;
}

.section-4 p {
    display: flex;
    justify-content: center;
    color: #DB4439;
}

.featured-images {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.featured-images img {
    height: 50px;

}

/* Section 5 woooh!!!!!!!9I have dementia) */

