img {
    width: 300px;
}

.center {
    display: flex;
    justify-content: center;
}

.style,h1,h2{
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 50px;
}

p {
    font-family:"Comic Sans MS" ;
    text-align: center;
}

.list {
    font-family:"Comic Sans MS" ;

}

 body {
    background: lime;
    color: red;
 }

 ul {
    font-family: "Comic Sans MS"; 
 }


 .grow {
    transition: 2s ;
 }
 .grow:hover {
    transform:scale(2);
 }